/* Base styles */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  line-height: 1.17;
}

:root {
  --brand-color: #434455;
}

/* Stylisation settings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0%;
  margin: 0%;
}

li,
ul,
ol {
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */

.nav-header {
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

span {
  color: #2e2f42;
}

.nav-list {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.nav-list-item {
}

.nav-list-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

/* Contacts */

address {
  font-style: normal;
}
.address-list {
  font-style: normal;
  color: #434455;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Main */

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  align-items: center;
}

.main-div-container {
  min-width: 496px;
  align-items: center;
}
.hero-title {
  color: #ffffff;
  font-family: 'Roboto' sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 44px auto;
}

.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  align-items: center;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* Advantages */

.advantages {
  padding: 120px 0;
}
.advantages-hero {
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}
.advantages-list-title {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-list-desc {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* What we do  */

.whatwedo {
  padding-bottom: 120px;
}
.whatwedo-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  color: #2e2f42;
  text-transform: capitalize;
  font-family: 'Roboto' sans-serif;
  margin-bottom: 72px;
}
.whatwedo-list {
  display: flex;
  gap: 24px;
}
.whatwedo-list-item {
  width: calc((100% -48px) / 3);
}

/* Our Team */

.ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.ourteam-title {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
  gap: 24px;
}
.ourteam-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-div {
  padding: 32px 0;
}

.ourteam-list-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-list-desc {
  color: #434455;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: #f4f4fd;
}

.footer-desc {
  color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

/* Portfolio */

.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}
.menu-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.menu-list {
}
.menu-list-btn {
  color: #4d5ae5;
  background-color: #f4f4fd;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.menu-list-btn:hover,
.menu-list-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

/* Photos block */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.porfolio-list-item {
  background-color: #ffffff;
  stroke: #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.portfolio-link {
}
.portfolio-list-subtitle {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.portfolio-list-desc {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /* margin-bottom: 8px; */
}
